.title-line {
  width: 80px;
  height: 3px;
  margin-left: 0;
  margin-right: 0;
  background-color: get-color(primary);
  border: none;

  &--small {
    height: 2px;
  }

  &--white {
    background-color: get-color(white);
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }
}
