@mixin flex($justify, $wrap: false) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    @if($wrap) {
        flex-wrap: wrap;
    }
}

@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin center($position: false) {
    position: absolute;
    @if($position == 'top') {
        top: 50%;
        transform: translate(0, -50%);
        border: 2px solid pink;
    } @else if($position == 'left') {
        left: 50%;
        transform: translate(-50%, 0);
    } @else {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin background($bg, $fixed: false) {
    background: $bg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @if($fixed) {
        background-attachment: fixed;
    }
}

@mixin button($color: #ffffff, $border: transparent, $bg: transparent) {
    display: inline-block;
    padding: 12px 22px;
    text-transform: uppercase;
    font-family: $primary-font;
    font-size: $font-small;
    letter-spacing: 1px;
    background: $bg;
    color: $color;
    border: 1px solid $border;
    transition: .4s;
}
