* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, p, dd, figure, blockquote {
    margin: 0;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}
