// Text colors
$primary-color:        #efae7c;
$text-color:           #423f54;
$text-color--light:    #767481;
$article-header:       #555365;
$article-text:         #9a98a0;

// Homepage backgrounds
$home-header-bg:        url(../images/home/home-header-bg.png);
$home-belief-bg:        url(../images/home/belief-bg.png);
$home-reviews-bg:       url(../images/home/reviews-bg.png);

// Backgrounds
$about-header-bg:       url(../images/about/about-header.png);
$services-header-bg:    url(../images/services/services-header.png);
$blog-header-bg:        url(../images/blog/blog-header.png);
$blog-carousel-bg:      url(../images/blog/testimonial-bg.png);
$contact-bg:            url(../images/contact/map.png);
$contact-form-bg:       url(../images/contact/form-bg.png);

$banner-bg:             url(../images/banner-bg.png);
