html {
  line-height: $line-height;
}

body, input {
  font-family: $primary-font;
  color: transparentize(get-color('dark-gray'), .5);
}

a {
  color: get-color('light-gray');
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  font-weight: 400;
  line-height: 1.4;
  color: get-color('dark-gray');
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 60px;
}

h3  {
  font-size: 48px;
}
