.carousel {
    width: 100%;
    height: 100%;
    @include center;

    &__item {
        width: 500px;
        @include center;
        text-align: center;
        display: none;

        @media (max-width: 570px) {
            max-width: 400px;
        }

        @media (max-width: 480px) {
            width: 100%;
        }
    }
}

.controls {
    width: 70px;
    height: 20px;
    @include center(left);
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(237, 241, 242, .7);
        border: none;
        padding: 0;
        transition: 1s;
    }

    &__button--active {
        background: $primary-color;
        transform: scale(1.4);
    }
}
