.section-header {
    margin: 30px 0 30px 0;
    width: 290px;
    position: relative;

    @media (max-width: 800px) {
        font-size: 28px;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 80px;
        height: 3px;
        background: $primary-color;

        @media (max-width: 800px) {
            width: 60px;
            bottom: -20px;
        }
    }

    &--center {
        margin: 30px auto;
        text-align: center;

        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.section-subheader {
    margin: 60px 0 20px 0;
    text-transform: uppercase;
    font-family: $primary-font;
    font-weight: 600;
    color: lighten($text-color, 60%);
    font-size: 12px;
}

.section-text {
        max-width: 500px;
        margin: 50px 0;
        font-family: 'Roboto Slab';
        font-weight: 300;
        color: $text-color--light;

        &--center {
            margin: 50px auto;
            text-align: center;
        }
}
