// Breakpoints
// =================================================
$breakpoints: (
  xsmall: 480px,
  small: 768px,
  medium: 980px,
  large: 1250px,
  xlarge: 1450px,
  xxlarge: 1680px
);

// Typography
// =================================================
$font-general: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-secondary: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$root: 16px;
$root-mobile: 14px;

$headings-base: (
  h1: 2.8rem,
  h2: 2.2rem,
  h3: 1.8rem,
  h4: 1.5rem,
  h5: 1.2rem,
  h6: 1rem
);

$headings-responsive: (
  small: (
    h1: 2.8rem,
    h2: 2.2rem,
    h3: 1.8rem,
    h4: 1.5rem,
    h5: 1.2rem,
    h6: .9rem
  ),
  medium: (
    h1: 3.4rem,
    h2: 2.7rem,
    h3: 2.2rem,
    h4: 1.8rem,
    h5: 1.4rem,
    h6: 1rem
  ),
  large: (
    h1: 4rem,
    h2: 2.9rem,
    h3: 2.5rem,
    h4: 2rem,
    h5: 1.6rem,
    h6: 1rem
  )
);

// Colors
// =================================================
$colors: (
  primary: #efae7c,
  secondary: #6472b7,
  text: #423f57,
  text-light: #767481,
  text-lighter: #e0dee7,
  info: #c1e1f4,
  white: #fff,
  light: #fafafa,
  gray-light: #f8f8f8,
  gray: #b8b8c4,
  dark: #423f57,
  black: #000,
);
