.main-content {
    max-width: 1080px;
    min-height: 480px;
    @include position(absolute, 90%, null, null, 0);
    margin: 0 90px;
    box-shadow: 2px 2px 16px rgba(0,0,0, .3);
    display: flex;
    justify-content: center;

    @media (max-width: 1020px) {
        margin: 0 40px;
    }
    @media (max-width: 800px) {
        top: 70%;
        flex-direction: column;
    }
    @media (max-width: 530px) {
        margin: 0;
    }

    .section-header {
        width: 100%;
        margin: 0;
        font-size: 24px;
    }
    .section-header:after {
        bottom: -20px;
        height: 2px;
    }
}

.form-section {
    width: 60%;
    padding: 40px 50px;
    background: #ffffff;

    @media (max-width: 920px) {
        padding: 20px 30px;
    }
    @media (max-width: 800px) {
        width: 100%;
    }

    .form {
        margin-top: 50px;
        @include flex(space-between, wrap);
    }

    .row {
        width: 46%;
        margin: 10px;

        @media (max-width: 1180px) {
            width: 44%;
        }
    }

    .row--longer {
        width: 100%;
    }

    .form__input {
        width: 100%;
        height: 30px;
        border: none;
        border-bottom: 2px solid #cecece;

        &:focus {
            border-bottom: 2px solid $text-color;
            outline: none;
        }

        &::-moz-placeholder {
            color: #232323;
            opacity: 1;
            font-family: $primary-font;
            font-weight: 600;
            font-size: 10px;
            letter-spacing: 1px;
        }
        &[placeholder] {
            color: #232323;
            opacity: 1;
            font-family: $primary-font;
            font-weight: 600;
            font-size: 10px;
            letter-spacing: 1px;
        }
    }

    .message-label {
        text-transform: uppercase;
        color: #232323;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 10px;
        letter-spacing: 1px;
    }

    .message-area {
        width: 100%;
        height: 100px;
        margin-top: 10px;
        resize: none;
        border: 2px solid #cecece;

        &:focus {
            border: 2px solid $text-color;
            outline: none;
        }
    }

    .form__button {
        @include button($primary-color, $primary-color);
        margin-top: 20px;

        @media (max-width: 1012px) {

        }

        &:hover, &:focus {
            cursor: pointer;
            background: $text-color;
            border: 1px solid transparent;
            color: #ffffff;
            outline: none;
        }
    }
}

.contact-section {
    width: 40%;
    @include background($contact-form-bg);
    padding: 40px;
    color: #ffffff;
    position: relative;

    @media (max-width: 800px) {
        width: 100%;
        height: 260px;
    }

    .section-header {
        color: #ffffff;
    }

    .section-header:after {
        background: #ffffff;
    }

    .contact-info {
        width: 100%;
        position: static;
        margin: 60px 0px;
        padding: 0 10px 0 0;
        color: #ffffff;
        text-align: left;

        .row {
            margin: 10px 0;
        }

        &__link {
            color: #ffffff;
        }

        &__link--orange {
            color: $primary-color;
        }

        &__link:focus {
            border: 1px solid $primary-color;
        }
    }

    .socials {
        margin-top: 40px;
        margin-left: -10px;

        @media (max-width: 800px) {
            position: absolute;
            top: -20px;
            right: 10px;
            @include flex(space-around);
        }

        &__link {
            color: #ffffff;
        }

        &__link:focus {
            color: $primary-color;
        }
    }
}
