.about {
    width: 100%;
    overflow: hidden;

    .row {
        width: 100%;
        margin-bottom: 150px;
        @include flex(space-between);

        @media (max-width: 920px) {
            margin-bottom: 60px;
        }

        @media (max-width: 800px) {
            margin-bottom: 0;
        }
        @media (max-width: 555px) {
            margin-bottom: 30px;
        }


    }
    .row--reverse {
        flex-direction: row-reverse;

        @media (max-width: 800px) {
            flex-direction: row;
            margin-bottom: 70px;
        }
        @media (max-width: 555px) {
            margin-bottom: 170px;
        }

        .about__graphics, .about__graphics:after {
            content: none;
            background: #ffffff;
        }

        .about__button {
            color: $primary-color;
        }
    }

    &__content {
        width: 33%;
        height: 520px;
        margin: 0 6%;

        @media (max-width: 800px) {
            width: 100%;
            height: 400px;
            margin: 0;
            padding: 0 50px;
            text-align: center;
        }

        @media (max-width: 380px) {
            padding: 0 20px;
        }
    }

    .section-heading {
        @media (max-width: 800px) {
            margin: 5px auto 50px auto;
        }

        @media (max-width: 380px) {
            width: 100%;
        }

        &:after {
            @media (max-width: 800px) {
                @include center(left);
            }
        }
    }

    &__text {
        margin-top: 60px;
        font-family: $primary-font--serif;
        font-weight: 300;
        font-size: 14px;
        color: #767481;
        line-height: 1.7;
    }

    &__text--light {
        margin-top: 20px;
        color: #9a98a0;
        font-size: 12px;
    }

    &__button {
        @include button(#6472b7);
        padding: 0;
        margin-top: 30px;
        font-weight: 900;

        @media (max-width: 800px) {
            font-size: 12px;
        }

        &:hover &-img {
            margin-left: 15px;
        }
    }


    &__button-img {
        width: 10px;
        margin-left: 10px;
        transition: .4s;
    }

    &__graphics {
        width: 55%;
        height: 520px;
        @include background($home-belief-bg, fixed);
        position: relative;

        @media (max-width: 800px) {
            display: none;
        }

        &:after {
            content: "";
            @include position(absolute, 0, 0);
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba(30,50,130, .7), rgba(120,160,225, 0.5));

            @media (max-width: 800px) {
                background: transparent;
            }
        }
    }

    .ipad-img {
        width: 110%;
        min-width: 400px;
        @include position(absolute, 100px, 0);
        z-index: 99;

        @media (max-width: 800px) {
            display: none;
        }
    }

    .video-img {
        width: 100%;
        min-width: 400px;
        height: 420px;
        margin-top: 100px;
        z-index: 99;

        @media (max-width: 800px) {
            display: none;
        }
    }
}

.about:nth-child(2) {
    background: transparent;
}

.reviews {
    height: 500px;
    @include background($home-reviews-bg, fixed);
    position: relative;

    @media (max-width: 800px) {
        height: 400px;
    }

    &__logo {
        width: 60px;
        @include position(absolute, 10%, 50%);
        transform: translateX(50%);

        @media (max-width: 480px) {
            width: 40px;
        }
    }

    .carousel {
        top: 60%;
    }

    .review {
        margin: 0 auto;

        &__text {
            font-family: $primary-font--serif;
            font-weight: 300;
            font-size: 18px;
            color: #ffffff;

            @media (max-width: 500px) {
                font-size: 14px;
            }
        }

        &__author {
            font-family: $primary-font;
            color: #eeeeee;
            margin-top: 30px;

            @media (max-width: 500px) {
                font-size: 14px;
            }
        }

        &__company {
            font-family: $primary-font;
            text-transform: uppercase;
            font-size: 8px;
            color: #eeeeee;
            letter-spacing: 2px;
            margin-top: 4px;
        }
    }
}

.services {
    text-align: center;

    &__list {
        width: 100%;
        min-height: 700px;
        @include flex(center);

        @media (max-width: 800px) {
            flex-direction: column;
        }
    }

}

.service {
    max-height: 700px;

    @media (max-width: 800px) {
        height: 320px;
    }

    @media (max-width: 360px) {
        height: 380px;
    }

    &:nth-child(3) .service__img {
        margin-top: 80px;
        height: 220px;

        @media (max-width: 920px) {
            margin-top: 30px;
        }

        @media (max-width: 800px) {
            height: 110px;
            margin: 10px auto 20px auto;
        }
    }

    &--purple-bg {
        background: linear-gradient(to right, #c662e1, #6466cd);
    }

    &--orange-bg {
        background: linear-gradient(to right, #f0a475, #f96447);
    }

    &--blue-bg {
        background: linear-gradient(to right, #b5cff2, #6c62e6);
    }

    &__img {
        height: 200px;
        margin: 100px auto 70px auto;

        @media (max-width: 920px) {
            margin: 50px auto 10px auto;
        }

        @media (max-width: 800px) {
            display: none;
        }

        img {
            width: 70%;

            @media (max-width: 800px) {
                width: 20%;
            }
        }
    }

    &__title {
        font-size: 24px;
        font-family: $primary-font--serif;
        color: #ffffff;
        position: relative;

        @media (max-width: 800px) {
            margin-top: 40px;
        }

        &:after {
            content: "";
            @include position(absolute, 50px, 0, 0, 50%);
            transform: translateX(-50%);
            width: 60px;
            height: 2px;
            background: #edf1f2;
        }
    }

    &__description {
        font-family: $primary-font;
        font-weight: 300;
        color: #ffffff;
        font-size: 12px;
        width: 65%;
        margin: 50px auto 30px auto;

        @media (max-width: 920px) {
            width: 80%;
        }

        @media (max-width: 800px) {
            font-size: 14px;
        }
    }

    &__button {
        @include button(#ffffff, #ffffff);
        margin: 20px auto 60px auto;

        &:hover {
            background: #ffffff;
            color: $text-color;
        }
    }
}

.investments {
    padding: 20px 60px;
    position: relative;

    @media (max-width: 700px) {
        padding: 20px;
    }

    &__text {
        font-family: $primary-font;
        font-weight: 300;
        width: 600px;
        margin-top: 50px;
        color: $text-color--light;

        @media (max-width: 620px) {
            width: 70%;
        }

        @media (max-width: 440px) {
            width: 100%;
            font-size: 14px;
        }
    }

    &__button {
        @include button($primary-color, $primary-color);
        position: absolute;
        top: 160px;
        right: 60px;

        @media (max-width: 600px) {
            top: 280px;
        }

        @media (max-width: 440px) {
            right: 20px;
        }

        &:hover {
            background: $primary-color;
            color: #ffffff;
        }
    }

    .portfolio {
        height: auto;
        margin: 60px auto;
        @include flex(center, wrap);
    }

    .portfolio__item {
        width: 30%;
        height: 240px;
        margin-bottom: 30px;
        margin-left: 30px;
        position: relative;
        transition: .4s;

        &:after {
            content: "";
            @include position(absolute, 0, 0);
            width: 100%;
            height: 100%;
            background: transparent;
            transition: .5s;
        }
        &:hover:after {
            background: $primary-color;
        }
    }

    .portfolio__img {
        width: 100%;
        height: 100%;
    }
}
