.services__list--columns {
    flex-direction: column;
    margin-top: 80px;

    .service {
        @include flex(center);
        min-height: 300px;
        margin: 20px 120px;

        @media (max-width: 920px) {
            margin: 10px 60px;
        }

        @media (max-width: 800px) {
            margin: 0;
        }

        @media (max-width: 500px) {
            min-height: 360px;
        }

        &:nth-child(3) {
            margin-bottom: 0;
        }

        &__img {
            width: 40%;
            height: 200px;
            margin: 100px auto 70px auto;
            position: relative;

            @media (max-width: 800px) {
                display: none;
            }

            img {
                width: 60%;
                @include center;
            }
        }

        &__content {
            width: 60%;
            min-height: 70%;
            text-align: left;

            @media (max-width: 800px) {
                width: 90%;
            }
        }

        &__title {
            font-size: 24px;
            color: #ffffff;

            &:after {
                content: "";
                @include position(absolute, null, null, -20px, 30px);
                width: 60px;
                height: 2px;
                background: #edf1f2;
            }
        }

        &__description {
            font-family: 'Roboto Slab';
            font-weight: 300;
            color: #ffffff;
            font-size: 12px;
            width: 65%;
            margin: 50px 0 15px 0;

            @media (max-width: 1020px) {
                width: 80%;
            }

            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }
}

.features-list {
    @media (max-width: 800px) {
        margin-bottom: 30px;
    }
}
.features-list__item {
        font-family: 'Roboto Slab';
        font-weight: 300;
        color: #ffffff;
        font-size: 10px;
        margin: 6px 0;
        padding: 0 15px;
        position: relative;

        &:before {
            content: "✓";
            @include position(absolute, null, null, 0, 0);
        }
}

.logos {
    margin: 80px 120px;
}
