.banner {
    height: 400px;
    @include background($banner-bg, fixed);
    color: #ffffff;
    position: relative;

    @media (max-width: 800px) {
        height: 340px;
    }

    .content {
        width: 80%;
        text-align: center;
        @include center;
    }

    &__header {
        font-family: $primary-font;
        font-size: 40px;
        font-weight: 400;
        color: #ffffff;

        @media (max-width: 800px) {
            font-size: 30px;
        }

        @media (max-width: 600px) {
            width: 300px;
            margin: 10px auto;
        }

        @media (max-width: 360px) {
            width: 100%;
            font-size: 28px;
        }
    }

    &__text {
        font-family: $primary-font;
        font-size: 14px;
        margin: 10px 0 30px 0;

        @media (max-width: 600px) {
            width: 400px;
            margin: 20px auto;
        }

        @media (max-width: 500px) {
            width: 300px;
            margin: 20px auto;
        }

        @media (max-width: 360px) {
            width: 100%;
            font-size: 12px;
        }
    }

    &__button {
        @include button(#ffffff, #ffffff);

        &:hover {
            background: #ffffff;
            color: $text-color;
        }
    }
}
