.footer {
    height: 260px;
    background: #ffffff;
    padding: 30px;
    position: relative;

    @media (max-width: 500px) {
        padding: 20px;
    }

    &__top {
        height: 160px;
        padding: 20px 60px;
        position: relative;

        @media (max-width: 800px) {
            padding: 10px 20px;
        }

        @media (max-width: 500px) {
            padding: 0;
        }
    }

    &__logo {
        width: 160px;

        @media (max-width: 500px) {
            width: 120px;
        }
    }

    &__nav {
        height: 30px;
        margin: 40px 0 0 -20px;

        @media (max-width: 800px) {
            margin-top: 60px;
        }

        @media (max-width: 500px) {
            width: 100px;
            height: 120px;
            margin: 0;
            position: absolute;
            top: 0;
            right: 0;
        }

        .nav {
            position: static;
            display: block;
            height: 30px;
        }

        .nav__wrapper {
            width: 500px;

            @media (max-width: 920px) {
                width: 400px;
            }

            @media (max-width: 500px) {
                width: 100px;
                flex-direction: column;
            }

        }
        .nav__item {
            font-size: 10px;

            @media (max-width: 500px) {
                margin: 4px;
            }

        }
        .nav__item:after {
            content: none;
        }

        .nav__item--active .nav__link {
            color: $primary-color;
        }
    }

    &__logo-img {
        width: 100%;
    }

    &__bottom {
        height: 70px;
        padding: 0px 60px;
        border-top: 1px solid #ededed;
        @include flex(space-between);

        @media (max-width: 800px) {
            padding: 10px 20px;
        }

        @media (max-width: 500px) {
            padding: 0;
            flex-wrap: wrap;
        }
    }

    &__text {
        font-family: $primary-font;
        font-weight: 300;
        color: $text-color;
        font-size: 10px;

        @media (max-width: 500px) {
            text-align: center;
        }
    }

}

.socials {
    width: 160px;
    height: 20px;
    @include flex(space-around);

    @media (max-width: 500px) {
        margin: 0 auto;
    }

    &__item {
        transition: .5s;
    }

    &__item:hover {
        transform: scale(1.2);
    }

    &__link {
        color: #807f89;
        font-size: 14px;
        transition: .4s;
    }

    &__link:hover, &__link:focus {
        transform: scale(1.2);
        color: $primary-color;
    }
}

.contact-info {
    width: 240px;
    @include position(absolute, 10px, 60px, null, null);
    text-align: right;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: $text-color--light;

    @media (max-width: 800px) {
        top: 5px;
        right: 20px;
        font-size: 10px;
    }
    @media (max-width: 500px) {
        top: 45px;
        left: 0px;
        text-align: left;
    }

    .row {
        margin: 5px 0;
    }

    &__link {
        color: $text-color--light;
        border: 1px solid transparent;
        transition: .4s;
    }

    &__link:hover {
        color: $primary-color;
    }

    &__link:focus {
        border: 1px solid $primary-color;
        outline: none;
    }
}
