.gallery {
    height: auto;
    margin: 60px auto;
    @include flex(center, wrap);

    &__item {
        width: 30%;
        height: 240px;
        margin: 10px;
        position: relative;
        overflow: hidden;
        transition: .4s;

        @media (max-width: 1020px) {
            height: 160px;
        }

        @media (max-width: 800px) {
            width: 45%;
            height: 200px;
        }

        @media (max-width: 560px) {
            width: 45%;
            height: 140px;
        }

        @media (max-width: 440px) {
            height: 100px;
            margin: 3px;
        }

        &:hover .gallery__img {
            left: -10%;
            filter: saturate(20%) brightness(80%);
        }

        &:hover .gallery__item-name {
            transform: translateY(0);
        }
        &:hover .gallery__item-description {
            transform: translateY(0);
        }
    }

    &__item-text {
        width: 70%;
        @include position(absolute, null, 20px, 20px, null);
        font-family: $primary-font;
        font-weight: 400;
        color: #ffffff;
        text-align: right;
        text-shadow: 1px 1px 2px #222222;

        @media (max-width: 920px) {
            width: 95%;
            bottom: 10px;
            right: 5px;
        }

    }

    &__item-name {
        transform: translateY(100%);
        font-size: 24px;
        transition: .5s;

        @media (max-width: 920px) {
            font-size: 20px;
        }

        @media (max-width: 440px) {
            transform: translateY(200%);
            font-size: 14px;
        }
    }

    &__item-description {
        bottom: 10px;
        transform: translateY(200%);
        font-size: 12px;
        transition: .5s;

        @media (max-width: 440px) {
            font-size: 10px;
        }
    }

    &__img {
        width: 110%;
        height: 110%;
        @include position(absolute, 0, null, null, 0);
        transition: .4s;
    }
}
