.site-header {
    width: 100%;
    height: 100vh;
    position: relative;

    .logo {
        width: 180px;
        @include flex(space-between);
        z-index: 999;
    }

    .logo__img {
        height: 60px;
        padding-right: 10px;
    }

    .logo__text {
        font-family: $primary-font--serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: $base-font-size;
        color: $text-color;
    }

    &__heading {
        @include center();
        width: 600px;
        text-align: center;
        font-size: 64px;
        font-family: $primary-font--serif;
        color: #ffffff;
        letter-spacing: -3px;

        @media (max-width: 800px) {
            max-width: 400px;
            font-size: 48px;
        }

        @media (max-width: 480px) {
            max-width: 320px;
            font-size: 38px;
        }
    }

    &__text {
        @include center;
        top: 70%;
        width: 400px;
        text-align: center;
        color: #ffffff;
        font-family: $primary-font;
        font-size: 16px;

        @media (max-width: 480px) {
            top: 65%;
            width: 300px;
            font-size: 14px;
        }
    }

    &__button {
        @include position(absolute, null, 50%, 30px, 50%);
        transform: translate(-50%, 0);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #ffffff;

        @media (max-width: 800px) {
            width: 60px;
            height: 60px;
        }
    }

    &__button-img {
        width: 12px;
        @include center;
    }
}
.sign {
    color: $primary-color;
}

.site-header--home {
    @include background($home-header-bg, fixed);
}
.site-header--blog {
    @include background($blog-header-bg, fixed);

    .site-header__text {
        top: 62%;
    }
}

.site-header--about {
    @include background($about-header-bg, fixed);

    .site-header__text {
        top: 62%;
    }
}

.site-header--services {
    @include background($services-header-bg, fixed);

    .site-header__text {
        top: 62%;
    }
}

.header--investments {
    height: 500px;
    background: #ffffff;

    .site-header__heading {
        color: $text-color;
    }

    .site-header__text {
        top: 62%;
        color: $text-color;
    }
}

.site-header--contact {
    height: 700px;
    @include background($contact-bg, fixed);

    @media (max-width: 530px) {
        height: 330px;
        margin-bottom: 0;
    }

    .site-header__heading {
        width: auto;
        left: 80px;
        top: 35%;
        transform: translate(0, 0);
        text-align: left;

        @media (max-width: 800px) {
            top: 160px;
        }

        @media (max-width: 480px) {
            left: 20px;
        }
    }

    .site-header__text {
        left: 80px;
        top: 48%;
        transform: translate(0, 0);
        text-align: left;

        @media (max-width: 800px) {
            top: 240px;
        }

        @media (max-width: 480px) {
            left: 20px;
        }

    }
}
