<nav class="navbar">
  <a href="#" class="logo">
    <img class="logo__image" src="images/logo.png" alt="">

    <p>Miequity</p>
  </a>

  <ul class="menu">
    <li class="menu__item menu__item--active">
      <a href="#">Home</a>
    </li>

    <li class="menu__item">
      <a href="#">About</a>
    </li>

    <li class="menu__item">
      <a href="#">Services</a>
    </li>

    <li class="menu__item">
      <a href="#">Investments</a>
    </li>

    <li class="menu__item">
      <a href="#">Blog</a>
    </li>

    <li class="menu__item">
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>
