<section class="section">
  <ul class="partners grid">
  	<li class="grid__column--6 grid__column--3@xsmall">
      <a href="#" class="partners__item">
        <img class="partners__logo" src="./images/partners/asana-logo.png" alt="Asana logo">
      </a>
  	</li>

  	<li class="grid__column--6 grid__column--3@xsmall">
      <a href="#" class="partners__item">
        <img class="partners__logo" src="./images/partners/classy-logo.png" alt="Classy logo">
      </a>
  	</li>

  	<li class="grid__column--6 grid__column--3@xsmall">
      <a href="#" class="partners__item">
        <img class="partners__logo" src="./images/partners/spotify-logo.png" alt="Spotify logo">
      </a>
  	</li>

  	<li class="grid__column--6 grid__column--3@xsmall">
      <a href="#" class="partners__item">
        <img class="partners__logo" src="./images/partners/treehouse-logo.png" alt="Treehouse logo">
      </a>
  	</li>

  	<li class="grid__column--6 grid__column--3@xsmall">
      <a href="#" class="partners__item">
        <img class="partners__logo" src="./images/partners/slack-logo.png" alt="Slack logo">
      </a>
  	</li>

  	<li class="grid__column--6 grid__column--3@xsmall">
      <a href="#" class="partners__item">
        <img class="partners__logo" src="./images/partners/oracle-logo.png" alt="Oracle logo">
      </a>
  	</li>

  	<li class="grid__column--6 grid__column--3@xsmall">
      <a href="#" class="partners__item">
        <img class="partners__logo" src="./images/partners/kickstarter-logo.png" alt="Kickstarter logo">
      </a>
  	</li>

  	<li class="grid__column--6 grid__column--3@xsmall">
      <a href="#" class="partners__item">
        <img class="partners__logo" src="./images/partners/disqus-logo.png" alt="Disqus logo">
      </a>
  	</li>
  </ul>
</section>
