<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>

  <link rel="icon" type="image/png" href="assets/images/logo.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

 {% block content %} {% endblock %}

  <script src="js/main.js"></script>
</body>
</html>
