{% extends 'layouts/layout.html' %}
{% import 'partials/navbar.html' as nav %}
{% import 'partials/footer.html' as footer %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  {{ nav.nav('Home') }}

  <main>
    {% include 'pages/home/header.html' %}

    <div class="container container--large container--center wrapper">
      {% include 'partials/partners.html' %}
    </div>

    <div class="container container--xlarge container--center wrapper">
      {% include 'pages/home/services.html' %}
    </div>
  </main>

  {% include 'partials/callout.html' %}

  <div class="container container--large container--center wrapper">
    {{ footer.footer('Home') }}
  </div>

  <!-- <p class="subtitle">miequity</p>

  <h1>HTML Front-end Boilerplate</h1>

  <span class="badge badge--rounded">miequity</span>

  <h1 class="heading h2">What <br> We Believe</h1>

  <hr class="title-line">

  <div class="brand-tile">
    <img class="brand-tile__image" src="images/classy-logo.png" alt="">
  </div> -->
{% endblock %}
